@import "./theme/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--font-main), sans-serif;
}
