:root {
  --font-main: "Roboto";

  --font-size-base: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-large: 3.2rem;
  --font-size-xl: 4.6rem;
  --font-size-xxl: 6.4rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
